<!-- Featured Section -->
<section class="featured-section bg-theme">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">FEATURED POSTS</h2>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let featuredPost of featuredPosts|async">
        <div >
          <app-post-card [postData]="featuredPost"></app-post-card>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Latest posts -->
<div class="container mt-5 latest-post">
  <div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius.</p>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let latestPost of latestPosts|async">
      <app-post-card [postData]="latestPost"></app-post-card>
    </div>
  </div>
</div>
